body {
    background-color:palegoldenrod;
    font-family:Arial;
}

.title {
    text-align:center;
}

button, input {
    padding:.55em 1em .55em 1em;
    outline:none;
    border:none;
    border-radius:5px
}

#search-btn {
    background-color:limegreen
}

#remove-btn {
    background-color:orangered;
}

.giphy-space {
    margin:1.5em 10%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.giphy {
    margin: .25em
}
