{% extends "base.html" %}

{% block title %}New Post{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h1>Edit post for {{post.user.first_name}} {{post.user.last_name}}</h1>
        <form action="/posts/{{post.id}}/edit" method="POST">
            <div class="form-group">
              <label for="title"><strong>Title</strong></label>
              <input type="text" class="form-control" name="title" placeholder="Title" maxlength="50" value="{{post.title}}">
            </div>
            <div class="form-group">
              <label for="post-content"><strong>Content</strong></label>
              <textarea class="form-control" name="post-content" rows="3">{{post.post_content}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Edit</button>
          </form>
    </div>
{% endblock %}