{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Welcome!{% endblock %}
{% block content %}

    <div class="container-fluid">
        <h1>Welcome to Blogly!</h1>
        <p>Take a look at our most recent posts below!</p>
        
        <div class="mt-4">
            <h3>Recent Posts</h3>
            {% for post in posts %}
                <p class="h5 m-0"><a href="/posts/{{post.id}}" class="text-dark">{{post.title}}</a></p>
                <small>By: <a href="/user/id/{{post.user.id}}">{{post.user.first_name}} {{post.user.last_name}}</a> <small class="text-secondary">on {{post.created_at|datetimeformat('%b %d, %Y %H:%M')}} UTC</small></small></small>
                <p>{{post.post_content}}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}