html {
    font-family: Arial;
    background-color: #35654d
}

.banner {
    margin: 5px 0px 10px 0px;
}
button {
    margin:0;
    padding: .4rem .4rem;
    outline:none;
    border-radius: 5px;
    border:none;
    background-color: springgreen;
    font-size: 1rem;
}

button:hover {background-color: #38e065}

button:active {
  background-color: darkseagreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
    display: table;
    margin-top: .5rem;
    padding: .4rem .4rem;
    background-color: skyblue;
    border-radius: 5px;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.scene{
    height: 9em;
    width: 7em;
    margin: .5em;
}

.card {
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-back {
    background:white;
    background-size:cover;
    background-position:center;
    transform: rotateY(180deg);
}

.card-face-front {
    background-image: url('https://image.freepik.com/free-vector/boy-thinking-with-question-marks-vector_74440-1054.jpg');
    background-size:cover;
    background-position:center;    
}

.card.flipped {
    transform: rotateY(-180deg);
}

.attempt {
    display: flex;
    position:relative;
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items:center;
}

h1 {
    font-size: 4em;
    border-radius: 50%;
    color:#aec6cf;
}